<link href="css/waiting.css" rel="stylesheet" />
<div style="overflow-x:hidden" data-ng-cloak class="waiting">
    <ion-content scroll="false" scrollbar-y="false" scrollbar-x="false">
        <div class="row logo"></div>
        <div style="width:66%;margin-left:19%;margin-top:4%">
            <button data-ng-click="start()" data-ng-show="startFlag" class="button button-large button-block button-energized icon-right ion-arrow-right-c">
                Start
            </button>
        </div>
    </ion-content>
</div>
