<link href="css/winning.css" rel="stylesheet" />
<div style="overflow-x:hidden" data-ng-cloak class="winning">
    <ion-content scroll="false" scrollbar-y="false" scrollbar-x="false">
        <div class="row logo"></div>
        <div style="width:66%;margin-left:19%;margin-top:4%">
            <button data-ng-click="continue()"  class="button button-large button-block button-energized icon-right ion-arrow-right-c">
                Continue
            </button>
        </div>
        <div style="width:66%;margin-left:19%;margin-top:4%">
            <button data-ng-click="exit()"  class="button button-large button-block button-assertive icon-right ion-close-round">
                Exit
            </button>
        </div>
    </ion-content>
</div>
